<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/drago/IdeaProjects/steamTesting/src/test/java/pageobjects/Propertes.java">
        <classes/>
    </test>

    <test name="Testing Steam">
        <classes>
            <class name="SteamTest"></class>
        </classes>
    </test>

</suite>