<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >
    
    <listeners>
        <listener class-name="org.steamTests.utils.AllureListener"></listener>
    </listeners>

    <test name="Testing Steam" parallel="false">
        <classes>
            <class name="tests.SteamTest">
                <methods>
                    <include name="testOpenSteamCompareHowManyPeopleOnlineAndInGames"/>
                    <include name="testLoginAndPasswordCheck"/>
                    <include name="shoppingCartTest"/>
                    <include name="negativeAuthorization"/>
                    <include name="logOut"/>
                </methods>
            </class>
            <class name="tests.NegativeTest">
                <methods>
                    <include name="negativeLog"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>